/* Styles go here */
#beg {
    background-color: darkblue;
  border:none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 6px
}

#beg:hover{
    background-color: red;
}