#nav{
    height: 60px;
    background-color: darkslategray;
    position:relative;  
}

#but {
    position:absolute;
    border: none;
    color:white;
    background-color: transparent;
   left: 60px;
    width: 90px;
    font-size: large;
    height:60px;
    outline: none;
}

#but:hover{
    background-color: gray;
}

#but2{
   
    position:absolute;
    border: none;
    color:white;
    background-color: transparent;
   left:150px; /* 90*/
    width: 90px;
    font-size: large;
    height:60px;
    outline: none;
}
#but2:hover{
    background-color: gray;
}

#im{
    height:60px;
}